name: Teste
on: [push]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo Hello, world!
  deploy-dev:
    runs-on: ubuntu-latest
    environment: 
      name: dev
      url: 'julioarruda.com'
    needs: build
    steps:
      - name: Run a one-line script
        run: echo Deploy Dev
